Hello, World! Wir wollen heute eine möglichst kurze und kompakte Einführung in Python geben. Dieses Notebook dient dabei zur praktischen Veranschaulichung der heutigen Inhalte, soll aber auch als Lernmaterial zum späteren Nachlesen herhalten.
Üblicherweise beginnt man in jeder Programmiersprache mit dem Ausdruck "Hello, World!". Mit diesem Ausdruck können meist ein paar grundlegende Eigenschaften der jeweiligen Programmiersprache gezeigt werden.

In [ ]:
print("Hello, World!")

Der obige Ausdruck zeigt uns Folgendes:
- Die oben benutzen Klammern sind eines der grundlegenden Features von Python, aber auch vielen anderen Programmiersprachen. Auf das, was innerhalb der Klammer steht, wird die außen beschriebene Funktion angewandt (in diesem Fall der print-Befehl).
- Einer der wichtigsten Befehle in Python ist der print()-Befehl. Mit ihm kann man sich Ausdrücke in die Konsole ausgeben.
- Schriftzeichen werden im Allgemeinen in Anführungszeichen geschrieben (dabei ist unerheblich ob '' oder "" genutzt wird). Bei numerischen Ausdrücken ist dies übrigens nicht nötig.

In Jupyter Notebooks wird der print()-Befehl nicht zwangsläufig benötigt - eine Ausgabe erfolgt auch, falls nur ein Wert ausgegeben wird und dieser in der letzten Zeile steht (wenn auch mitunter in leicht anderem Format)!

In [ ]:
"Hello, World!"

Da wir nicht jedes Mal von Neuem Code schreiben wollen, kann man Code in Variablen speichern. Man kann jegliche in Python verfübaren Datentypen in einer Variable speichern. Dazu nutzt man den sogenannten Assignment Operator "=". Man schreibt den Namen der Variable auf die linke Seite des Gleichzeichens und den Code, der der Variable zugewiesen werden soll, auf die rechte Seite. Grundsätzlich sind Variablennamen klein zu schreiben. Leerzeichen werden durch Underscores _ ersetzt.

In [12]:
tutor1 = "Torben"
tutor2 = "Jonas"
age_tutor1 = 22
age_tutor2 = 23

In [ ]:
print(tutor1, age_tutor1)
print(f"{tutor2} ist {age_tutor2} alt.")  # fortgeschrittenere Variante

In Python lassen sich verschiedenste mathematische und logische Operatoren einsetzen. Diese Operatoren werden im Grunde genommmen wie auch sonst "im richtigen Leben" verwendet. Hier einige Beispiele:

In [ ]:
# Mathematische Operatoren

# Addition
sum_numbers = 7 + 8 + 15
print("sum_numbers:", sum_numbers)

# Subtraktion
number1, number2, = 25, 17
diff_numbers = number1 - number2 # kann man auch mit Variablen machen, sofern diese numerische Ausdrücke beschreiben
print("diff_numbers:", diff_numbers)

# ... und jegliche andere Rechenoperationen (siehe Slides)

In [ ]:
# Logische Operatoren --> ergeben stehts Wahrheitsausdrücke (True oder False)

print(True and False)
print(True or False)
print(not False and True)


print(20 * "-") # Trennlinie

# Auch diese Operatoren können wieder mit Variablen genutzt werden, denen die richtigen Ausdrücke zugewiesen sind
# Beachte: eine 1 ist dasselbe wie True, eine 0 dasselbe wie False

num0 = 0
num1 = 1
num2 = 2

print(num0 and num1)
print(num2 - num1 and num1)
print(num0 or True)

Oben ist - wie gesagt - nur ein Ausschnitt aller möglichen Operatoren gezeigt. Eine Liste der verschiedenen mathematischen und logischen Operatoren findet ihr auch in den Slides. Des Weiteren gibt es noch die Bitwise Operatoren. Diese operieren auf der Bit-Ebene, arbeiten also mit den zu 1en und 0en konvertierten Zeichen. Auf diese näher einzugehen würde aber den Rahmen sprengen (für Interessierte: https://www.geeksforgeeks.org/python-bitwise-operators/).

Wie bereits mehrfach im obigen Code gezeigt, können auch Kommentare in eingefügt werden. Diese werden von der Maschine ignoriert, sollten aber unbedingt zur besseren Lesbarkeit des Codes eingefügt werden. Kommentare können nach dem # Symbol eingefügt werden.

In [ ]:
"Kein Kommentar - wird ausgegeben"

In [9]:
# Kommentar - keine Ausgabe

Die restlichen Zusammenhänge wollen wir an einem praktischen Beispiel deutlich machen. Dafür importieren wir den SWIID-Datensatz (Solt, 2021). Dieser enthält verschiedenste Kenndaten zur wirtschaftlichen Ungleichheit in mehreren Ländern über viele Jahre hinweg.

In [1]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

import pandas as pd

# import Swiid dataset
swiid = pd.read_csv("swiid7_1_summary.csv")
swiid = swiid.astype({"year": int}, errors='raise') 
swiid.head()

Requirement already satisfied: pandas in c:\users\jonas\anaconda3\envs\pythonproject\lib\site-packages (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jonas\anaconda3\envs\pythonproject\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jonas\anaconda3\envs\pythonproject\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jonas\anaconda3\envs\pythonproject\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jonas\anaconda3\envs\pythonproject\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

,country,year,gini_disp,gini_disp_se,gini_mkt,gini_mkt_se,abs_red,abs_red_se,rel_red,rel_red_se
0,Afghanistan,2007,30.4,2.5,33.3,2.8,NaN,NaN,NaN,NaN
1,Afghanistan,2008,30.5,2.5,33.4,2.9,NaN,NaN,NaN,NaN
2,Afghanistan,2009,30.5,2.5,33.6,3.0,NaN,NaN,NaN,NaN
3,Afghanistan,2010,30.5,2.7,33.7,3.0,NaN,NaN,NaN,NaN
4,Afghanistan,2011,30.6,2.7,33.7,3.0,NaN,NaN,NaN,NaN

Zuerst wollen wir uns damit beschäftigen, welche Länder wir in unserem Datensatz haben. Dazu lassen wir uns ein Array (Sammelobjekt) aller Element in der Spalte country ausgeben und entfernen die Duplikate.

In [ ]:
countries = swiid.country.unique()
countries

Wie wir sehen können, ist die Sammlung ziemlich lang. Wir greifen nun den ersten Wert heraus, um mit diesem arbeiten zu können. Beachte dabei, dass man in Python beginnnt bei 0 zu zählen.

In [ ]:
first_country = countries[0]
first_country

Wie wir sehen können, wird uns der entsprechende Wert (wie auch in der Sammlung weiter oben) in Anführungsstrichen ausgegeben. Dies zeigt an, dass es sich um einen String handelt, was wir auch mit der type()-Funktion überprüfen können.

In [ ]:
type(first_country)

Auch Zahlen können Strings sein, wenn sie in "" geschrieben werden. Hier muss man jedoch aufpassen, da diese dann ihre spezifischen Eigenschaften als numerische Werte verlieren (weshalb ein Fehler geworfen wird).

In [ ]:
2 + "2"

Mit Strings kann man verschiedenste Sachen machen. Hierzu kann man unter anderem die in Python vorgefertigten Methoden benutzen: https://www.w3schools.com/python/python_ref_string.asp

Als nächstes wollen wir uns einem weiteren Datentyp zuwenden, dem int. Dazu schauen wir auf die zweite Spalte der Tabelle, die Jahreszahlen. Hier lassen wir uns wieder alle Jahreszahlen ausgeben, diesmal mit Duplikaten

In [ ]:
years = swiid["year"].tolist()
years

Wie man sieht, bekommt man eine sehr lange Liste der Jahreszahlen. Wieder wollen wir uns zur Veranschaulichung die eine Zahl greifen, diesmal die hundertste.

In [ ]:
years_100 = years[99]
years_100

Wieder wollen wir nun den Typen bestimmen.

In [ ]:
type(years_100)

Ints sind grundsätzlich alle ganzen Zahlen. Diese können nun mit allen mathematischen und logischen Operatoren genutzt werden. Beispielsweise können wir gucken, ob die erste Zahl in der Tabelle größer ist als die letzte:

In [ ]:
years[0] > years[-1] # von hinten gezählt

Ein weiterer Zahlentyp sind die floats. Dabei handelt es sich um Kommazahlen. Wieder nehmen wir zur Demonstration wieder eine Spalte aus unserem Datensatz, diesmal zum Gini Index (Verfügbares Einkommen).

In [2]:
gini = swiid["gini_disp"].tolist()
gini

[30.4,
 30.5,
 30.5,
 30.5,
 30.6,
 30.6,
 38.0,
 38.1,
 38.2,
 38.3,
 38.4,
 38.4,
 38.5,
 38.6,
 38.6,
 38.6,
 38.6,
 38.6,
 38.5,
 38.5,
 38.5,
 38.5,
 38.4,
 37.2,
 37.0,
 36.8,
 36.6,
 36.4,
 36.2,
 36.0,
 35.8,
 35.7,
 35.5,
 35.4,
 35.3,
 35.2,
 35.0,
 34.9,
 34.7,
 34.6,
 34.5,
 34.3,
 34.1,
 33.9,
 33.7,
 33.5,
 33.3,
 48.8,
 48.7,
 48.7,
 48.7,
 48.6,
 48.6,
 48.3,
 47.9,
 47.7,
 47.6,
 35.9,
 36.1,
 36.2,
 36.2,
 36.3,
 36.4,
 36.5,
 36.6,
 47.3,
 36.0,
 35.9,
 35.8,
 35.8,
 35.7,
 35.8,
 35.8,
 35.7,
 35.8,
 35.8,
 35.7,
 35.6,
 35.6,
 35.6,
 36.0,
 36.3,
 36.7,
 37.1,
 37.5,
 38.0,
 38.5,
 38.9,
 39.3,
 39.7,
 40.1,
 40.5,
 40.9,
 41.4,
 41.8,
 42.1,
 42.3,
 42.4,
 42.7,
 43.2,
 43.7,
 44.2,
 44.7,
 45.1,
 45.5,
 45.9,
 46.1,
 46.2,
 45.9,
 45.5,
 44.9,
 44.2,
 43.4,
 42.7,
 42.1,
 41.5,
 40.8,
 40.2,
 39.8,
 39.5,
 39.4,
 34.2,
 34.3,
 34.7,
 35.3,
 36.0,
 36.6,
 37.2,
 37.8,
 38.4,
 38.7,
 39.0,
 39.2,
 39.0,
 38.7,
 38.3,
 38.1,
 37.9,
 37.4,
 36.9,
 36.5,
 36.1,
 35.8,
 35.6,
 35.5,
 35.7,
 35.9,
 36.1,
 36.3,
 36.4,
 28.5,
 28.4,
 28.4,
 28.3,
 28.1,
 28.0,
 27.9,
 27.8,
 27.3,
 27.4,
 27.6,
 27.7,
 27.9,
 28.0,
 28.2,
 28.6,
 29.1,
 29.5,
 29.4,
 29.7,
 29.9,
 30.1,
 30.3,
 30.2,
 30.4,
 30.6,
 30.9,
 31.1,
 31.3,
 31.2,
 31.2,
 31.6,
 31.9,
 32.2,
 32.1,
 31.9,
 31.8,
 31.9,
 32.1,
 32.4,
 32.7,
 33.1,
 33.1,
 33.0,
 33.0,
 32.8,
 33.2,
 33.5,
 23.7,
 23.5,
 23.3,
 23.2,
 23.0,
 23.6,
 24.2,
 24.9,
 25.5,
 26.2,
 26.8,
 27.6,
 28.2,
 27.6,
 27.2,
 27.0,
 26.6,
 26.5,
 26.7,
 26.9,
 26.9,
 26.9,
 26.9,
 27.4,
 28.0,
 28.0,
 28.3,
 28.1,
 28.0,
 27.8,
 27.8,
 27.7,
 27.8,
 27.9,
 29.9,
 29.9,
 30.0,
 30.0,
 30.0,
 30.0,
 30.1,
 30.0,
 29.7,
 29.4,
 29.1,
 28.7,
 28.4,
 28.1,
 27.1,
 26.4,
 26.0,
 25.8,
 26.0,
 26.1,
 26.2,
 45.3,
 45.1,
 44.9,
 44.7,
 44.7,
 44.7,
 44.7,
 44.7,
 44.6,
 44.6,
 44.6,
 44.6,
 44.6,
 30.0,
 30.0,
 29.9,
 29.8,
 29.8,
 29.8,
 30.0,
 30.2,
 30.4,
 30.5,
 30.7,
 31.0,
 31.3,
 31.6,
 31.4,
 31.2,
 31.1,
 31.0,
 30.9,
 30.6,
 30.6,
 30.5,
 30.6,
 30.7,
 30.9,
 31.0,
 31.2,
 31.3,
 31.6,
 31.9,
 32.2,
 32.5,
 32.8,
 33.0,
 33.2,
 33.4,
 33.6,
 33.7,
 33.9,
 34.0,
 34.1,
 34.3,
 34.3,
 34.3,
 34.3,
 34.2,
 34.2,
 34.2,
 34.1,
 34.1,
 34.0,
 34.0,
 33.9,
 46.0,
 46.1,
 46.1,
 46.1,
 46.2,
 46.2,
 46.2,
 46.3,
 46.3,
 46.4,
 46.4,
 46.4,
 46.4,
 46.4,
 46.4,
 46.5,
 46.5,
 46.6,
 46.6,
 46.6,
 46.7,
 46.8,
 46.8,
 46.9,
 47.0,
 47.0,
 47.1,
 47.1,
 47.2,
 47.3,
 47.3,
 47.4,
 24.7,
 24.5,
 24.4,
 24.3,
 24.3,
 24.3,
 24.2,
 24.2,
 24.1,
 24.1,
 24.1,
 24.1,
 24.1,
 24.0,
 23.9,
 23.8,
 23.7,
 23.7,
 23.8,
 23.8,
 23.8,
 23.8,
 23.8,
 23.8,
 23.8,
 23.8,
 23.7,
 23.6,
 23.6,
 22.5,
 22.8,
 23.0,
 23.2,
 23.5,
 23.3,
 23.1,
 23.1,
 23.3,
 23.4,
 23.4,
 23.4,
 23.4,
 23.4,
 24.2,
 25.0,
 25.4,
 25.3,
 25.4,
 26.0,
 26.5,
 26.8,
 26.8,
 26.7,
 26.6,
 26.6,
 26.4,
 26.2,
 26.0,
 25.9,
 25.8,
 25.8,
 25.7,
 25.7,
 25.7,
 25.7,
 25.7,
 25.7,
 51.3,
 51.2,
 51.1,
 50.9,
 50.6,
 50.2,
 49.9,
 49.7,
 49.5,
 49.3,
 49.2,
 49.1,
 49.1,
 49.0,
 48.9,
 48.9,
 48.8,
 42.4,
 42.4,
 43.0,
 43.5,
 44.0,
 44.3,
 44.5,
 44.6,
 44.6,
 44.6,
 44.8,
 45.0,
 45.2,
 45.3,
 41.6,
 41.4,
 41.3,
 41.0,
 40.8,
 40.7,
 40.6,
 40.6,
 40.5,
 40.4,
 47.9,
 48.2,
 48.5,
 49.1,
 49.7,
 50.3,
 50.9,
 51.5,
 52.1,
 52.7,
 53.2,
 53.1,
 52.9,
 52.3,
 51.7,
 51.2,
 50.4,
 49.3,
 48.0,
 46.9,
 46.0,
 45.1,
 44.6,
 44.4,
 44.2,
 43.9,
 43.8,
 39.2,
 39.4,
 39.6,
 39.8,
 40.0,
 40.0,
 40.1,
 40.0,
 40.0,
 39.9,
 39.9,
 39.8,
 39.8,
 39.8,
 39.7,
 58.0,
 58.1,
 58.2,
 58.3,
 58.3,
 58.5,
 58.5,
 58.7,
 58.8,
 58.7,
 58.9,
 59.0,
 59.2,
 59.3,
 59.5,
 59.6,
 59.7,
 59.9,
 59.7,
 59.6,
 59.6,
 59.7,
 59.8,
 59.9,
 60.1,
 60.2,
 50.2,
 50.3,
 50.4,
 50.5,
 50.5,
 50.7,
 50.8,
 50.9,
 51.0,
 51.1,
 51.2,
 51.1,
 51.1,
 51.2,
 51.2,
 51.5,
 51.8,
 51.9,
 51.9,
 51.8,
 51.6,
 51.5,
 51.5,
 51.6,
 51.5,
 51.4,
 51.9,
 52.7,
 53.3,
 53.7,
 53.2,
 52.8,
 52.3,
 52.4,
 52.5,
 52.5,
 52.6,
 52.6,
 52.4,
 52.2,
 52.0,
 51.7,
 51.2,
 50.5,
 49.6,
 49.2,
 48.8,
 47.9,
 47.2,
 46.6,
 46.2,
 45.9,
 45.5,
 44.9,
 44.8,
 44.7,
 52.3,
 29.7,
 29.8,
 30.1,
 30.5,
 30.9,
 31.3,
 31.6,
 31.9,
 31.9,
 31.9,
 31.8,
 31.9,
 32.1,
 32.3,
 32.4,
 32.5,
 32.6,
 32.6,
 32.7,
 32.8,
 32.9,
 33.1,
 33.3,
 33.6,
 33.8,
 34.1,
 34.3,
 34.4,
 46.1,
 46.0,
 46.0,
 46.0,
 46.0,
 45.6,
 45.2,
 44.8,
 44.4,
 44.0,
 43.5,
 43.0,
 42.5,
 42.0,
 41.5,
 41.0,
 40.6,
 40.2,
 39.8,
 39.5,
 39.1,
 38.0,
 38.2,
 38.4,
 38.6,
 38.7,
 38.9,
 39.0,
 38.8,
 38.6,
 38.4,
 38.2,
 38.0,
 37.8,
 37.5,
 37.3,
 37.3,
 37.4,
 37.4,
 37.4,
 37.5,
 37.6,
 37.6,
 36.9,
 36.8,
 36.6,
 36.5,
 36.4,
 36.3,
 36.2,
 36.1,
 36.0,
 35.8,
 35.8,
 35.6,
 35.5,
 35.2,
 35.0,
 34.8,
 42.6,
 42.6,
 42.7,
 42.7,
 42.7,
 42.7,
 42.8,
 42.8,
 42.9,
 42.9,
 43.0,
 43.0,
 43.1,
 43.1,
 43.2,
 43.3,
 43.4,
 43.5,
 43.6,
 32.3,
 31.1,
 30.3,
 29.7,
 29.3,
 28.4,
 27.5,
 27.6,
 27.3,
 27.5,
 28.4,
 28.1,
 28.6,
 28.5,
 28.3,
 28.3,
 28.3,
 27.9,
 27.8,
 28.4,
 28.5,
 29.2,
 29.1,
 28.7,
 29.4,
 30.0,
 29.6,
 30.7,
 30.9,
 31.2,
 31.2,
 31.2,
 31.1,
 31.5,
 31.1,
 31.0,
 31.3,
 31.1,
 31.2,
 31.3,
 31.0,
 31.1,
 31.6,
 30.9,
 30.9,
 30.6,
 49.8,
 49.9,
 50.0,
 49.9,
 49.7,
 49.4,
 49.2,
 48.9,
 48.7,
 48.6,
 48.5,
 48.5,
 48.4,
 48.4,
 48.3,
 48.3,
 48.2,
 52.4,
 52.3,
 52.2,
 52.0,
 51.9,
 51.8,
 51.6,
 51.5,
 51.3,
 51.1,
 51.0,
 50.8,
 50.9,
 51.0,
 51.3,
 51.6,
 51.9,
 40.7,
 40.8,
 40.9,
 41.0,
 41.2,
 41.3,
 41.5,
 41.6,
 41.8,
 44.6,
 44.8,
 45.0,
 45.2,
 45.3,
 45.6,
 45.8,
 46.0,
 46.2,
 46.4,
 46.6,
 46.8,
 47.1,
 47.3,
 47.6,
 47.8,
 48.1,
 48.3,
 48.6,
 48.8,
 48.6,
 48.4,
 48.1,
 47.7,
 47.5,
 47.9,
 48.2,
 48.2,
 48.2,
 48.4,
 48.5,
 48.6,
 48.6,
 48.3,
 48.1,
 47.8,
 47.2,
 46.6,
 46.1,
 46.0,
 45.8,
 45.7,
 45.4,
 45.0,
 44.8,
 44.5,
 44.7,
 44.9,
 29.6,
 29.5,
 29.5,
 29.4,
 29.2,
 29.2,
 29.3,
 29.6,
 30.2,
 30.8,
 31.6,
 32.3,
 33.0,
 33.6,
 34.4,
 35.2,
 35.8,
 36.4,
 36.6,
 37.1,
 37.7,
 38.4,
 39.3,
 40.2,
 41.2,
 41.5,
 41.7,
 41.9,
 42.1,
 42.3,
 42.4,
 42.2,
 42.0,
 41.8,
 41.0,
 40.2,
 40.2,
 40.2,
 50.4,
 50.4,
 50.4,
 50.5,
 50.6,
 50.7,
 50.8,
 50.9,
 51.0,
 51.0,
 51.0,
 50.9,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.1,
 51.1,
 51.5,
 51.9,
 52.2,
 52.5,
 52.7,
 52.8,
 52.9,
 53.0,
 52.9,
 52.9,
 51.4,
 51.6,
 51.3,
 51.7,
 51.9,
 51.2,
 50.7,
 49.7,
 49.5,
 49.0,
 49.0,
 48.4,
 47.0,
 47.0,
 46.9,
 55.1,
 55.0,
 54.8,
 54.6,
 54.4,
 54.1,
 53.9,
 53.7,
 53.4,
 53.2,
 46.4,
 46.5,
 46.6,
 46.8,
 47.0,
 47.1,
 47.2,
 42.2,
 42.3,
 42.2,
 42.2,
 42.2,
 42.2,
 42.3,
 42.3,
 42.3,
 42.8,
 42.7,
 42.7,
 42.6,
 42.6,
 42.5,
 42.5,
 42.4,
 42.4,
 42.3,
 42.3,
 42.2,
 42.2,
 42.1,
 42.0,
 42.0,
 41.9,
 41.8,
 41.8,
 41.7,
 41.7,
 41.4,
 41.2,
 40.9,
 40.7,
 40.5,
 40.5,
 40.6,
 40.8,
 41.0,
 41.2,
 41.4,
 41.6,
 41.8,
 41.9,
 42.2,
 42.4,
 42.8,
 43.3,
 43.9,
 44.5,
 44.7,
 44.7,
 44.7,
 44.7,
 44.8,
 45.0,
 45.1,
 45.4,
 45.5,
 45.6,
 45.7,
 45.8,
 45.8,
 45.8,
 46.0,
 46.1,
 40.7,
 40.5,
 40.4,
 40.3,
 ...]

Diesmal nehmen wir wieder den ersten Datenpunkt aus der Sammlung heraus.

In [3]:
first_gini = gini[0]
first_gini

30.4

Mit floats kann man grundsätzlich dieselben Dinge anstellen wie mit ints. Allerdings gilt es, folgendes zu beachten:

In [5]:
first_gini_minus_a_tenth = first_gini - 0.1
first_gini_minus_a_tenth

30.299999999999997

Dass Rechnungen mit floats mitunter nicht genau werden, liegt daran, dass nicht jede Kommazahl exakt in Binärschreibweise ("2er-System") dargestellt werden kann. Man sollte daher vor allem wenn man mit sehr kleinen Zahlen arbeitet oder es auf exakte Genauigkeit ankommt floats besser vermeiden oder runden.

In [7]:
print(round(first_gini_minus_a_tenth, 2))

first_gini = int(first_gini)
print(first_gini) # konvertiert zu int immmer Richtung -unendlich

30.3
30

Den letzten Datentyp, den wir uns ansehen wollen, haben wir weiter oben bei den logischen Operatoren schon kennengelernt. Bei Booleans handelt es sich um Wahrheitsausdrücke. Dabei können ausdrücke entweder True (1) oder False (0) sein

In [8]:
print(first_gini == 30.4)
print(first_gini == 30)

False
True