#### Python Workshop - Termin 1: Python Basics
Torben Abts & Jonas Hummel (CorrelAid), 10.Mai 2022

#### Teil 1: Intro

siehe Slides

#### Teil 2: Absolute Basics

Hello, World! Wir wollen heute eine möglichst kurze und kompakte Einführung in Python geben. Dieses Notebook dient dabei zur praktischen Veranschaulichung der heutigen Inhalte, soll aber auch als Lernmaterial zum späteren Nachlesen herhalten.
Üblicherweise beginnt man in jeder Programmiersprache mit dem Ausdruck **"Hello, World!"**. Mit diesem Ausdruck können meist ein paar grundlegende Eigenschaften der jeweiligen Programmiersprache gezeigt werden.

In [ ]:
print("Hello, World!")

Der obige Ausdruck zeigt uns Folgendes:
- Die oben benutzten **Klammern** sind eines der grundlegenden Features von Python, aber auch vielen anderen Programmiersprachen. Auf das, was innerhalb der Klammer steht, wird die außen beschriebene Funktion angewandt (in diesem Fall der print-Befehl).
- Einer der wichtigsten Befehle in Python ist der **print()-Befehl**. Mit ihm kann man sich Ausdrücke in die Konsole ausgeben lassen.
- **Schriftzeichen** werden im Allgemeinen in **Anführungszeichen** geschrieben (dabei ist unerheblich ob '' oder "" genutzt wird). Bei numerischen Ausdrücken ist dies übrigens nicht nötig.

In **Jupyter Notebooks wird der print()-Befehl nicht zwangsläufig benötigt** - eine Ausgabe erfolgt auch, falls nur ein Wert ausgegeben wird und dieser in der letzten Zeile steht (wenn auch mitunter in leicht anderem Format)!

In [ ]:
"Hello, World!"

Da wir nicht jedes Mal von neuem Code schreiben wollen, kann man **Code in Variablen speichern**. Man kann jegliche in Python verfübaren Datentypen in einer Variable speichern. Dazu nutzt man den sogenannten **Assignment Operator "="**. Man schreibt den Namen der Variable auf die linke Seite des Gleichzeichens und den Code, der der Variable zugewiesen werden soll, auf die rechte Seite. Grundsätzlich sind Variablennamen klein zu schreiben. Leerzeichen werden durch Underscores _ ersetzt.

In [ ]:
tutor1 = "Torben"
tutor2 = "Jonas"
age_tutor1 = 22
age_tutor2 = 23

In [ ]:
print(tutor1, age_tutor1)
print(f"{tutor2} ist {age_tutor2} alt.")  # fortgeschrittenere Variante (f-strings)

In Python lassen sich verschiedenste **mathematische und logische Operatoren** einsetzen. Diese Operatoren werden im Grunde genommmen wie auch sonst "im richtigen Leben" verwendet. Hier einige Beispiele:

In [ ]:
# Mathematische Operatoren

# Addition
sum_numbers = 7 + 8 + 15
print("sum_numbers:", sum_numbers)

# Subtraktion
number1, number2, = 25, 17
diff_numbers = number1 - number2 # kann man auch mit Variablen machen, sofern diese numerische Ausdrücke beschreiben
print("diff_numbers:", diff_numbers)

# ... und jegliche andere Rechenoperationen (siehe Slides)

In [ ]:
# Logische Operatoren --> ergeben stets Wahrheitsausdrücke (True oder False)

print(True and False)
print(True or False)
print(not False and True)


print(20 * "-") # Trennlinie

# Auch diese Operatoren können wieder mit Variablen genutzt werden, denen die richtigen Ausdrücke zugewiesen sind
# Beachte: eine 1 ist dasselbe wie True, eine 0 dasselbe wie False

num0 = 0
num1 = 1
num2 = 2

print(num0 and num1)
print(num2 - num1 and num1)
print(num0 or True)

Oben ist - wie gesagt - nur ein Ausschnitt aller möglichen Operatoren gezeigt. Eine Liste der verschiedenen mathematischen und logischen Operatoren findet ihr auch in den Slides. Des Weiteren gibt es noch die Bitwise Operatoren. Diese operieren auf der Bit-Ebene, arbeiten also mit den zu 1en und 0en konvertierten Zeichen. Auf diese näher einzugehen würde aber den Rahmen sprengen (für Interessierte: https://www.geeksforgeeks.org/python-bitwise-operators/).

Wie bereits mehrfach im obigen Code gezeigt, können auch **Kommentare** in eingefügt werden. Diese werden von der Maschine ignoriert, sollten aber unbedingt zur besseren Lesbarkeit des Codes eingefügt werden. Kommentare können nach dem # Symbol eingefügt werden.

In [ ]:
"Kein Kommentar - wird ausgegeben"

In [ ]:
# Kommentar - keine Ausgabe

#### Teil 3: Datentypen

Die restlichen Zusammenhänge wollen wir an einem praktischen Beispiel deutlich machen. Dafür importieren wir den SWIID-Datensatz (Solt, 2021). Dieser enthält verschiedenste Kenndaten zur wirtschaftlichen Ungleichheit in mehreren Ländern über viele Jahre hinweg (wer sich näher dafür interessiert, sollte vielleicht am 05.07. hier vorbeischauen: https://www.exc.uni-konstanz.de/ungleichheit/news-und-events/events/in-equality-colloquium-sommer-2022/)

In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

import pandas as pd

# import Swiid-Datensatz
swiid = pd.read_csv("swiid7_1_summary.csv")
swiid = swiid.astype({"year": int}, errors='raise') 
swiid.head() # gibt die ersten 5 Zeilen des Datensatzes aus

Zuerst wollen wir uns damit beschäftigen, welche Länder wir in unserem Datensatz haben. Dazu lassen wir uns ein Array (Sammelobjekt) aller Element in der Spalte country ausgeben und entfernen die Duplikate.

In [ ]:
countries = swiid.country.unique()
countries

Wie wir sehen können, ist die Sammlung ziemlich lang. Wir greifen nun den ersten Wert heraus, um mit diesem arbeiten zu können. Beachte dabei, dass man in **Python beginnnt bei 0 zu zählen**.

In [ ]:
first_country = countries[0]
first_country

Wie wir sehen können, wird uns der entsprechende Wert (wie auch in der Sammlung weiter oben) in **Anführungsstrichen** ausgegeben. Dies zeigt an, dass es sich um einen **String** handelt, was wir auch mit der **type()-Funktion** überprüfen können.

In [ ]:
type(first_country)

Auch Zahlen können Strings sein, wenn sie in "" geschrieben werden. Hier muss man jedoch aufpassen, da diese dann ihre spezifischen Eigenschaften als numerische Werte verlieren (weshalb ein Fehler geworfen wird).

In [ ]:
2 + "2"

Mit Strings kann man verschiedenste Sachen machen. Hierzu kann man unter anderem die in Python vorgefertigten Methoden benutzen: https://www.w3schools.com/python/python_ref_string.asp. Alle Methoden geben dabei neue Werte aus und verändern nicht den ursprünglichen String!

Als nächstes wollen wir uns einem weiteren Datentyp zuwenden, dem **int**. Dazu schauen wir auf die zweite Spalte der Tabelle, die Jahreszahlen. Hier lassen wir uns wieder alle Jahreszahlen ausgeben, diesmal mit Duplikaten.

In [ ]:
years = swiid["year"].tolist()
years

Wie man sieht, bekommt man eine sehr lange Liste der Jahreszahlen. Wieder wollen wir uns zur Veranschaulichung die eine Zahl greifen, diesmal die hundertste.

In [ ]:
years_100 = years[99]
years_100

Wieder wollen wir nun den Typen bestimmen.

In [ ]:
type(years_100)

**Ints** sind grundsätzlich alle **ganzen Zahlen**. Diese können nun mit allen mathematischen und logischen Operatoren genutzt werden. Beispielsweise können wir gucken, ob die erste Zahl in der Tabelle größer ist als die letzte:

In [ ]:
years[0] > years[-1] # von hinten gezählt

Ein weiterer Zahlentyp sind die **floats**. Dabei handelt es sich um **Kommazahlen**. Wieder nehmen wir zur Demonstration wieder eine Spalte aus unserem Datensatz, diesmal zum Gini Index (Verfügbares Einkommen).

In [ ]:
gini = swiid["gini_disp"].tolist()
gini

Diesmal nehmen wir wieder den ersten Datenpunkt aus der Sammlung heraus.

In [ ]:
first_gini = gini[0]
first_gini

Mit floats kann man grundsätzlich dieselben Dinge anstellen wie mit ints. **Allerdings gilt es, folgendes zu beachten:**

In [ ]:
first_gini_minus_a_tenth = first_gini - 0.1
first_gini_minus_a_tenth

Dass Rechnungen mit floats mitunter nicht genau werden, liegt daran, dass nicht jede Kommazahl exakt in Binärschreibweise ("2er-System") dargestellt werden kann. Man sollte daher vor allem wenn man mit sehr kleinen Zahlen arbeitet oder es auf exakte Genauigkeit ankommt floats besser vermeiden oder runden.

In [ ]:
print(round(first_gini_minus_a_tenth, 2))

first_gini = int(first_gini) # konvertiert zu int immmer Richtung -unendlich
print(first_gini)

Den letzten Datentyp, den wir uns ansehen wollen, haben wir weiter oben bei den logischen Operatoren schon kennengelernt. Bei **Booleans** handelt es sich um Wahrheitsausdrücke. Dabei können ausdrücke entweder **True (1)** oder **False (0)** sein

In [ ]:
print(first_gini == 30.4)
print(first_gini == 30)

#### Teil 4: Datencontainer

Im vorherigen Teil haben wir es schon immer wieder angerissen - natürlich werden die meisten Daten nicht als einzelne Datenpunkte oder Variablen, sondern als **Sammlungen von Datenpunkten** gespeichert. An dieser Stelle sei bemerkt, dass die Unterscheidung von Datentypen und Datencontainern, die hier gemacht wird, konzeptionell nicht ganz korrekt ist - zum Verständnis ist sie aber allemal hilfreich.
Alles, was mehr als einen Datenpunkt enthält, soll in diesem Kurs als Datencontainer bezeichnet werden. Wir werden uns im Folgenden mit den Standard-Datencontainern in Python beschäftigen.

Zuerst sind da Listen, die in Python ziemlich beliebt und somit auch ziemlich wichtig sind. Da wir weiter oben schon Listen benutzt haben, wollen wir die Demonstration der Besonderheiten von Listen an einer dieser durchführen. Zur Erinnerung lassen wir uns erneut die Liste gini ausgeben, die die verschiedenen gini-Koeffizienten gespeichert hat.

In [ ]:
gini

Vergleicht man den Output hier mit dem Output derselben Variable weiter oben, fällt auf, dass dieser exakt identisch ist. Dies zeigt zwei der wichtigsten Eigenschaften von Listen auf: sie sind **geordnet/indiziert** (= jede Position hat eine Rangnummer) sowie **veränderlich**. Außerdem **erlauben Listen Duplikate** und **können verschiedene Datentypen** enthalten.
Wir wollen uns zuerst zwei der wichtigsten Listen-Operationen anschauen: Das **Zuschneiden** von Listen sowie das **Hinzufügen eines Elements**.

In [ ]:
# Hier sollen die Datenpunkte 50 - 58 herausgegeben werden (0-based!). 
# Dazu nutzt man den Slice-Operator [vordere Grenze: hintere Grenze:Schritte]. 
# Die hintere Grenze wird NICHT mit aufgenommen!

gini_50_58 = gini[49:58]
print(gini_50_58)

# Mit dem Hinzufügen einer dritten Zahl lässt sich nur jeder zweite/dritte etc. Datenpunkt auswählen
gini_50_58 = gini[49:58:2]
print(gini_50_58)

# Hinzufügen eines weiteren Datenpunktes mit .append()
gini_50_58.append("Ungleichheit") # andere Datentyp
print(gini_50_58)

In [ ]:
gini = [48.7, 48.7, 48.6, 48.6, 48.3, 47.9, 47.7, 47.6, 35.9]

# Slicing
gini_2_4 = gini[1:4]
print(gini_2_4)
gini_2_4 = gini[1:4:2]
print(gini_2_4)

# Hinzufügen eines weiteren Datenpunktes mit .append()
gini_2_4.append("Ungleichheit") # andere Datentyp
print(gini_2_4)

Auch dies hier war wieder nur ein kleiner Ausschnitt dessen, was man mit Listen machen kann. Weitere Listen-Methoden und ihre Funktionsweise findet ihr hier: https://www.w3schools.com/python/python_lists_methods.asp

Ein weiterer Datentyp sind die **Tuples**. Diese sehen auf den ersten Blick aus wie Listen, nur mit normalen statt mit eckigen Klammern. Wir nehmen wieder die gini-Liste und konvertieren sie zu einem Tuple, um die Unterschiede zu zeigen.

In [ ]:
tup_gini = tuple(gini)
tup_gini

Wie gesagt, auf den ersten Blick hat sich nicht wahnsinnig viel verändert - daher probieren wir nun, dieselben Operationen wie zuvor (Slicing und Appending) anzuwenden.

In [ ]:
tup_gini_50_58 = tup_gini[49:58]
print(tup_gini_50_58)

In [ ]:
tup_gini.append("Ungleichheit")
print(tup_gini)

Zwar sind auch Tuples **geordnet/indiziert**, können also "geschnitten" werden, aber im Gegensatz zu Listen sind sie **unveränderlich** - daher können auch keine neuen Elemente mehr hinzugefügt werden. Folglich kann man mit Tuples deutlich weniger machen. Die einzigen beiden built-in methods (von Python vorgefertigten Methoden) sind index() und count() (für mehr Infos, siehe hier: https://www.w3schools.com/python/python_tuples_methods.asp). Dafür verbrauchen tuples aber weniger Speicherplatz, was gerade für Big Data-Anwendungen von Vorteil sein kann. Auch die Unveränderlichkeit kann durchaus gewünscht sein. Auch Tuples **akzeptieren Duplikate und verschiedene Datentypen**.

Der dritte Typus ist das **Set**. Dieses wird deutlich seltener verwendet, daher wollen wir es nur kurz einführen. Der wesentliche Unterschied zu Tuples und Lists ist, dass ein Set **ungeordnet** ist und somit auch **nicht indiziert** werden kann. Es erlaubt **keine Duplikate**, aber **verschiedene Datentypen**. Das Eliminieren von Duplikaten wollen wir hier kurz anhand der Ländernamen demonstrieren:

In [ ]:
list_countries = swiid.country.tolist() # neue Liste der Ländernamen aus dem Datensatz oben
print(list_countries)

# Löschen der Duplikate mit set()
set_countries = set(list_countries)
print(set_countries)

In [ ]:
print(f"Anzahl der Einträge in Liste: {len(list_countries)}, Anzahl der Einträge in Set: {len(set_countries)}")

Weitere Methoden für Sets sind hier zu finden: https://www.w3schools.com/python/python_sets_methods.asp

Der letzte Datencontainer, den wir einführen wollen, ist das **Dictionary**. Hierbei handelt es sich um einen speziellen Datencontainer, da dieses nicht einzelne Datenpunkte, sondern **key:value Paare** enthält. Wir wollen dies wieder am Beispiel des obigen Datensatzes zeigen. Dazu erstellen wir aus den Listen list_countries, years und gini ein Dictionary, das die 3 Informationen für die jeweilige Spalte in der Tabelle speichert

In [ ]:
# nur ein Infopunkt (gini)
country_info = {list_countries[0] : gini[0]} # kann auch mit dict() initiiert werden
print(country_info)

# zwei Infopunkte (years und gini)
country_info = {list_countries[0] : [years[0], gini[0]]}
print(country_info)

Wie das zweite Beispiel zeigt, kann der value auch aus mehreren Einzelelementen in einer Liste bestehen. Das ist beim key nicht möglich! Auch muss der **key in einem Dictionary einzigartig sein**. Wird ein key mit demselben Namen hinzugefügt, wird der ältere Eintrag überschrieben.

In [ ]:
# Einfügen eines neuen Eintrags

country_info[list_countries[100]] = [years[100], gini[100]]
print(country_info)

# Überschreiben des ersten Eintrages

country_info[list_countries[1]] = [years[1], gini[1]] # der  key hat wieder den Namen Afghanistan
print(country_info)

Um dieses Problem bei größeren Datenmengen zu umgehen, könnte man z.B. den Namen des Landes und das Jahr zu einem Key zusammenlegen. Im Gegensatz zu Tuples und Listen können Dictionaries nicht geschnitten, jedoch indiziert werden - hier ist der Index allerdings der key und nicht die Zahl der Position. Dictionaries können alle Datentypen beinhalten. Weitere Methoden für Dictionaries finden sich hier: https://www.w3schools.com/python/python_dictionaries_methods.asp .

#### Teil 5: Loops und Conditional Statements

#### Teil 6: Funktionen