# Python Workshop - Exercises

## Termin 2: Datenanalyse mit Python - Numpy & Pandas
#### Torben Abts & Jonas Hummel (CorrelAid), 21.Juni 2022

In [1]:
# Install Numpy and Pandas in the current Jupyter kernel
#import sys
#!{sys.executable} -m pip install numpy
#!{sys.executable} -m pip install pandas

# Import Numpy and Pandas
import numpy as np
import pandas as pd

Die unten aufgelisteten Übungsaufgaben sollen euch dabei helfen, das soeben Gelernte besser zu verstehen und praktisch anwenden zu können. Um das Ganze etwas anschaulicher zu machen, wird die Aufgabe darin bestehen, die Mitarbeiter der Capitol-Versicherung "zu erstellen" und ihnen die passenden Attribute zuzuweisen (wem die Capitol nichts sagt, sollte vielleicht einmal Stromberg googlen ;) ).

### Aufgabenblock 1

#### Aufgabe 1.1:
Entscheide, ob die folgenden Werte in ein Array passen würden:
- 1) "Stromberg", 50000, "m", "Leiter M-Z"
- 2) 12000, 14.5, 2009, 3700.8
- 3) Reihe 1: "Stromberg", "Steinke", "Schirmann" ; Reihe 2: "Bernd", "Tanja"

Antwort:
- 1) Nein, da verschiedene Datentypen
- 2) Ja, aber ints werden zu floats umgewandelt (passiert automatisch)
- 3) Nein, da verschieden große Reihen

#### Aufgabe 1.2:
Erstelle jeweils einen eindimensionalen Array mit den Vornamen und einen mit den Nachnamen der folgenden Mitarbeiter:
- Bernd Stromberg
- Erni Heisterkamp
- Ulf Steinke
- Tanja Seifert
- Jennifer Schirmann

Achte darauf, die Reihenfolge nicht zu verändern. Benenne die Arrays mit "vornamen" und "nachnamen". Lass dir anschließend beide Arrays ausgeben. Überprüfe, ob es sich auch wirklich um Arrays handelt.

In [2]:
vornamen = np.array(["Bernd", "Erni", "Ulf", "Tanja", "Jennifer"])
nachnamen = np.array(["Stromberg", "Heisterkamp", "Steinke", "Seifert", "Schirmann"])

print(vornamen)
print(nachnamen)

print(type(vornamen), type(nachnamen))

['Bernd' 'Erni' 'Ulf' 'Tanja' 'Jennifer']
['Stromberg' 'Heisterkamp' 'Steinke' 'Seifert' 'Schirmann']
<class 'numpy.ndarray'> <class 'numpy.ndarray'>

#### Aufgabe 1.3:
Füge nun die beiden oben erstellten Arrays zu einer Matrix zusammen. Dabei soll jeder Vorname über dem Nachnamen der Person stehen. Speichere diese Matrix unter dem Namen "vn_namen".
Initialisiere außerdem zwei weitere Arrays. Diese sollten integer und keine floats (default) enthalten:
- Einen Array mit dem Namen "gehalt". Dabei soll der erste Mitarbeiter 50.000 Euro erhalten und jeder folgende Mitarbeiter 5.000 Euro weniger. Nutze hierzu eine möglichst effiziente Funktion.
- Einen Array mit dem Namen "bonus". Erstelle den Array so, dass für jeden Mitarbeiter 0 als Platzhalter zu sehen ist.

Lass dir anschließend alle drei erstellten Array ausgeben.

In [3]:
vn_namen = np.array([vornamen, nachnamen])

gehalt = np.arange(50000, 29999, -5000, dtype=int)
bonus = np.zeros(5, dtype=int)

print(vn_namen)
print(gehalt)
print(bonus)

[['Bernd' 'Erni' 'Ulf' 'Tanja' 'Jennifer']
 ['Stromberg' 'Heisterkamp' 'Steinke' 'Seifert' 'Schirmann']]
[50000 45000 40000 35000 30000]
[0 0 0 0 0]

#### Aufgabe 1.4:

Das oben angegebene Gehalt ist in Euro angegeben. Erstelle nun ein neues Array mit dem Namen "gehalt_d", das das Gehalt in Dollar umgerechnet angibt. Lass dir die Standardabweichung für das Gehalt in Euro und in Dollar ausgeben und vergleiche die beiden Werte (runde beide Werte auf zwei Nachkommastellen).

Erhöhe außerdem den Bonus für jeden Angestellten auf 1000 Euro. Speichere die Erhöhung in derselben Variable "bonus".
Lass dir anschließend beide Arrays ausgeben.

In [4]:
gehalt_d = gehalt * 1.07 # Wechselkurs zum Zeitpunkt der Notebook-Erstellung
bonus = bonus + 1000

print(f"SD Gehalt in Euro {gehalt.std().round(2)}, SD Gehalt in USD {gehalt_d.std().round(2)}")

print(gehalt_d)
print(bonus)

SD Gehalt in Euro 7071.07, SD Gehalt in USD 7566.04
[53500. 48150. 42800. 37450. 32100.]
[1000 1000 1000 1000 1000]

### Aufgabenblock 2

In [ ]:
# Ändere den Namen "Erni" zu "Berthold". Tue dies der Vollständigkeit halber sowohl in "vornamen" als auch in "vn_namen".

### Aufgabenblock 3

### Aufgabenblock 4