In [3]:
import pandas as pd

In [8]:
print("Hello, World!")

Hello, World

In Jupyter Notebooks wird der print()-Befehl nicht zwangsläufig benötigt - eine Ausgabe erfolgt auch, falls nur ein Wert ausgegeben wird und dieser in der letzten Zeile steht (wenn auch mitunter in leicht anderem Format)!

In [11]:
"Hello, World!"

'Hello, World!'

Da wir nicht jedes Mal von Neuem Code schreiben wollen, kann man Code in Variablen speichern. Man kann jegliche in Python verfübaren Datentypen in einer Variable speichern. Dazu nutzt man den sogenannten Assignment Operator "=". Man schreibt den Namen der Variable auf die linke Seite des Gleichzeichens und den Code, der der Variable zugewiesen werden soll, auf die rechte Seite. Grundsätzlich sind Variablennamen klein zu schreiben. Leerzeichen werden durch Underscores _ ersetzt.

In [12]:
tutor1 = "Torben"
tutor2 = "Jonas"
age_tutor1 = 22
age_tutor2 = 23

In [15]:
print(tutor1, age_tutor1)
print(f"{tutor2} ist {age_tutor2} alt.")  # fortgeschrittenere Variante

Torben 22
Jonas ist 23 alt.

In [7]:
# import Swiid dataset
swiid = pd.read_csv("swiid7_1_summary.csv")
swiid = swiid.astype({"year": int}, errors='raise') 
swiid.head()

,country,year,gini_disp,gini_disp_se,gini_mkt,gini_mkt_se,abs_red,abs_red_se,rel_red,rel_red_se
0,Afghanistan,2007,30.4,2.5,33.3,2.8,NaN,NaN,NaN,NaN
1,Afghanistan,2008,30.5,2.5,33.4,2.9,NaN,NaN,NaN,NaN
2,Afghanistan,2009,30.5,2.5,33.6,3.0,NaN,NaN,NaN,NaN
3,Afghanistan,2010,30.5,2.7,33.7,3.0,NaN,NaN,NaN,NaN
4,Afghanistan,2011,30.6,2.7,33.7,3.0,NaN,NaN,NaN,NaN